

.Card{
  display: flex;
    flex-direction: column;
    height: 350px;
    justify-content: space-around;
    margin-left: 30px;
}
.Card span{
  margin-left: 136px;
  font-family: monospace;
}
.Card img{
  width: 200px;
    height: 300px;
}
.Card h2{
  margin: 0px;
    
    font-size: 23px;
    color: grey;
    font-family: monospace;

}
.affich{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.list{
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.affich h1{
  font-size: 2.5rem;
    font-family: monospace;
    text-align: center;
}
.spinner{
  text-align: center;
}